@{
    Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h1>Edit Course</h1>
<h4>Edit this Course: @Html.DisplayFor(model => model.CourseName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)
    @Html.LabelFor(model => model.CourseName)
    @Html.EditorFor(model => model.CourseName)

}

<p>@Html.ActionLink("Back to course list", "Index")</p>