@{
    Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h1>Students</h1>
<p>**One course has to be added before adding a student</p>
<br>
<p>Go to @Html.ActionLink("Create", "Course") to create a course.</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.StudentName, "Student Name")
    @Html.TextBoxFor(model => model.StudentName)

    @* @Html.LabelFor(model => model.Course)
    @Html.DropDownList("Course") *@

    <input type="submit" value="add a new student" />
}

<p>@Html.ActionLink("Show all students", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>